[submodule "frontend"]
	path = frontend
	url = https://github.com/vijenderchimma/social_talks.git
[submodule "backend"]
	path = backend
	url = https://github.com/vijenderchimma/social_talks_backend.git
